<div class="container-fluid d-inline-block">
    <div class="col-xs-12 col-md-4 floatLeft">
        <div class="d-flex justify-content-center botonera col-6 mx-auto">
            
            <table>
               <tbody>
                    <tr>
                        <td></td>
                        <td><button type="button" class="btn mdb-color indigo btn-lg" ng-click="mundoCtrl.alertarEstado()">N</button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn mdb-color indigo btn-lg" ng-click="mundoCtrl.alertarEstado()">O</button></td>
                        <td></td>
                        <td><button type="button" class="btn mdb-color indigo btn-lg" ng-click="mundoCtrl.alertarEstado()">E</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="button" class="btn mdb-color indigo btn-lg" ng-click="mundoCtrl.alertarEstado()">S</button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12 d-flex justify-content-center" >
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{mundoCtrl.getUbicacion()}}
        </div>
    </div>


 <div class="col-xs-12 col-md-8 floatLeft">
        <div class="row d-flex justify-content-center">
            <div class="d-inline-block col-xs-12 col-md-10">
                <div class="card">
                    <div class="card-body">
                        <span class="titulo-tabla">Oponentes</span>
                        <table class="table table-hover table-bordered table-sm tabla-general">
                            <thead class="mdb-color indigo">
                                <tr>
                                    <th><strong>Entrenador</strong></th>
                                    <th><strong>Pokémon</strong></th>
                                    <th><strong>Apuesta</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody  >
                                <tr ng-repeat=" oponente in mundoCtrl.oponentes">
                                    <td>{{oponente.nombre}}<img ng-src="{{oponente.imagenEntrenador}}" class="imagenTabla img-fluid rounded-circle" /></td>
                                    <td>{{oponente.pokemon}} {{oponente.nivelpk}} <img ng-src="{{oponente.imagenPokemon}}" class="imagenTabla img-fluid rounded-circle" /> </td>
                                    <td>{{oponente.apuesta}}</td>
                                    <td class="icono-celda">
                                        <i class="fa fa-group" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-md-6 d-inline-block">
                <div class="card">
                    <div class="card-body">
                        <span class="titulo-tabla">Pokémon salvajes</span>
                        <table class="table table-hover table-bordered table-sm tabla-general">
                            <thead class="mdb-color indigo">
                                <tr>
                                    <th><strong>Pokémon</strong></th>
                                    <th><strong>Nivel</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="PokemonSalvaje in pokemonesSalvajeTodos.pokemonesSalvaje">
                                    <td>{{PokemonSalvaje.nombre}} <img ng-src="{{PokemonSalvaje.imagen}}" class="imagenTabla img-fluid rounded-circle" /></td>
                                    <td>{{PokemonSalvaje.nivel}}</td>
                                    <td class="icono-celda">
                                        <img src="img/pokebolas/pokebola.png" alt="pokebola" class="imagenTabla">
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-6 d-inline-block">
                <div class="card">
                    <div class="card-body">
                        <span class="titulo-tabla">Pokeparadas</span>
                        <table class="table table-hover table-bordered table-sm tabla-general">
                            <thead class="mdb-color indigo">
                                <tr>
                                    <th><strong>Pokeparada</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="Pokeparada in pokeparadasTodas.pokeparadas">
                                    <td>{{Pokeparada.nombre}}</td>
                                    <td class="icono-celda">
                                        <i class="fa fa-plus-circle pokeparada" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>