<html>

<head>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pokemon AlGo III</title>
    <!-- Your custom styles (optional) -->
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" href="img/pokebolas/pokebola.png">
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="TodosLosPokemonesSalvajeControllers as pokemonCtrl">

    <nav class="navbar navbar-expand-lg navbar-dark indigo">
        <a class="navbar-brand" href="#"><img src="img/pokebolas/pokebola.png" alt="pokebola" class="imagenEncabezado" > Pokemon Al GO III</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="mundo.html"><i class="fa fa-map-marker" aria-hidden="true"></i> El Mundo </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="entrenadores.html"><i class="fa fa-user" aria-hidden="true"></i> Entrenador<span class="sr-only">(current)</span> <img src="img/entrenadores/ash.jpg" class="imagenEncabezado img-fluid rounded-circle hoverable" /> </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container col-md-12 d-inline-block">
        <div class="d-flex justify-content-center mx-auto">

            <div class="col-md-3 d-inline-block floatLeft">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <div class="card-body">

                        <!--Zoom effect-->
                        <div class="view overlay hm-zoom">
                            <img src="img/entrenadores/ash.jpg" class="imagenEntrenador img-fluid" />
                        </div>


                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action"><b>Nombre :</b> {{pokemonCtrl.entrenadorLogeado.nombre}} </a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-danger"><b>Dinero :</b> $ {{pokemonCtrl.entrenadorLogeado.dinero}} <i class="fa fa-sort-down" aria-hidden="true"></i></a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-success"><b>Expericencia :</b> {{pokemonCtrl.entrenadorLogeado.experiencia}} <i class="fa fa-sort-up" aria-hidden="true"></i> </a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-success"><b>Nivel :</b> {{pokemonCtrl.entrenadorLogeado.nivel}} <i class="fa fa-sort-up" aria-hidden="true"></i> </a>
                            <a href="#" class="list-group-item list-group-item-action"><b>Perfil :</b> {{pokemonCtrl.entrenadorLogeado.perfil.nombre}} </a>
                        </div>
                    </div>

                </div>
                <!--/.Card-->
            </div>

            <div class="col-md-4 d-inline-block floatLeft">

                <div>

                    <div class="row">
                        <div class="d-inline-block table-responsive col-10">
                            <!--Card-->
                            <div class="card">

                                <!--Card content-->
                                <div class="card-body">

                                    <span class="titulo-tabla">Pokemones Atrapados</span>
                                    <table class="table table-hover table-bordered table-sm tabla-general">
                                        <thead class="mdb-color indigo">
                                            <tr>
                                                <th><strong>Pokemon</strong></th>
                                                <th><strong>Nivel</strong></th>
                                                <th><strong></strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-click="pokemonCtrl.getPokemon('Pikachu')">
                                                <td>{{pokemon.nombre}} <img src="img/pokemones/pikachu.png" class="imagenTabla img-fluid rounded-circle"
                                                    /> </td>
                                                <td>{{pokemon.nombre}}</td>
                                                <td> <i class="fa fa-group" aria-hidden="true"></i> </td>
                                            </tr>
                                            <tr ng-click="pokemonCtrl.getPokemon('Charmander')">
                                                <td>Charmander <img src="img/pokemones/charmander.png" class="imagenTabla img-fluid rounded-circle"
                                                    /> </td>
                                                <td>15</td>
                                                <td> <i class="fa fa-group" aria-hidden="true"></i> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div>

                    <div class="row">
                        <div class="d-inline-block table-responsive col-10">
                            <!--Card-->
                            <div class="card">
                                <span class="titulo-tabla">Inventario</span>

                                <!--Card content-->
                                <div class="card-body">

                                    <table class="table table-hover  table-bordered table-sm tabla-general">
                                        <thead class="mdb-color indigo">
                                            <tr>
                                                <th><strong>Item</strong></th>
                                                <th><strong>Cantidad</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Pokebola <img src="img/pokebolas/pokebola.png" class="imagenTabla img-fluid rounded-circle"
                                                    /></td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>Ultrabola <img src="img/pokebolas/ultrabola.png" class="imagenTabla img-fluid rounded-circle"
                                                    /> </td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Superbola <img src="img/pokebolas/superbola.png" class="imagenTabla img-fluid rounded-circle"
                                                    /> </td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Pocion <img src="img/pociones/pocion.png" class="imagenTabla img-fluid rounded-circle"
                                                    /> </td>
                                                <td>15</td>
                                            </tr>
                                            <tr>
                                                <td>Superpocion <img src="img/pociones/superpocion.png" class="imagenTabla img-fluid rounded-circle"
                                                    /> </td>
                                                <td>15</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-4 d-inline-block floatLeft">

                <!--Card-->
                <div class="card" ng-model="pokemonCtrl" ng-if="pokemonCtrl.pokemon != null">

                    <!--Card content-->
                    <div class="card-body">
                        <div class="floatLeft">
                            <div class="view overlay hm-zoom">
                                <img src="{{pokemonCtrl.getImgPath()}}" class="imagenPokemon img-thumbnail img-fluid" />
                            </div>

                            <div href="#" class="list-group list-group-item-action">
                                <a class="list-group-item list-group-item-action {{pokemonCtrl.pocaVida()}}">
                                    <b>Ps : </b> {{pokemonCtrl.pokemon.puntosDeSalud}}/{{pokemonCtrl.pokemon.puntosSaludMaximo}}
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{pokemonCtrl.pokemon.getPorcentajeVida()}}%" aria-valuenow="{{pokemonCtrl.pokemon.getPorcentajeVida()}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{pokemonCtrl.pokemon.getPorcentajeFaltante()}}%" aria-valuenow="{{pokemonCtrl.pokemon.getPorcentajeFaltante()}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="floatLeft">

                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action"><b>Especie : </b> {{pokemonCtrl.pokemon.especie.nombre}} </a>
                                <a href="#" class="list-group-item list-group-item-action"><b>Tipo : </b> {{pokemonCtrl.pokemon.especie.tipo.nombre}} </a>
                                <a href="#" class="list-group-item list-group-item-action"><b>Nombre : </b> {{pokemonCtrl.pokemon.nombre}} </a>
                                <a href="#" class="list-group-item list-group-item-action list-group-item-success"><b>Nivel :</b> {{pokemonCtrl.pokemon.nivel}} <i class="fa fa-sort-up" aria-hidden="true"></i> </a>
                                <a href="#" class="list-group-item list-group-item-action"><b>Genero : </b> {{pokemonCtrl.pokemon.genero}} </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div>


        <!--Footer-->
        <footer class="page-footer indigo center-on-small-only pt-0">

            <!--Footer Links-->
            <div class="container">

                <!--First row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-12">

                        <div class="footer-socials flex-center footerSocial">

                            <!--Facebook-->
                            <a href="https://www.facebook.com/PokemonGOArgentina/" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                            <!--Twitter-->
                            <a href="https://twitter.com/PokemonGoApp" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                            <!--Google +-->
                            <a href="https://plus.google.com/+pokemongo" target="_blank" class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
                            <!--Linkedin-->
                            <a href="https://www.linkedin.com/in/pokemon-go-b00b56124/" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
                            <!--Instagram-->
                            <a href="https://www.instagram.com/pokemongoapp/" target="_blank" class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                            <!--Pinterest-->
                            <a href="https://ar.pinterest.com/pin/AYSp2aYRodKTzYuoHBO2-Gb7Pc6mpRGVhDBTKWIQ2npGetm_IduKf3w/" target="_blank" class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
                        </div>
                    </div>
                    <!--/First column-->
                </div>
                <!--/First row-->

                <!--Grid row-->
                <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                    <!--Grid column-->
                    <div class="col-md-8 col-12 mt-5">
                        <p style="line-height: 1.7rem">Tp de interface grafica de Pokemon Go <a href="http://algo3.uqbar-project.org/unsam/tp-unsam" target="_blank"> Enunciado Click Aqui </a></p>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            </div>
            <!--/Footer Links-->

            <!--Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
                </div>
            </div>
            <!--/Copyright-->

        </footer>
        <!--/Footer-->
    </div>

    <script src="src/Entrenador.js" type="text/javascript" charset="utf-8"></script>
    <script src="src/Especie.js" type="text/javascript" charset="utf-8"></script>
    <script src="src/TablaNiveles.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/Pokemon.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/services/BotoneraService.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/services/PokeparadaService.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/services/Oponente.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/services/PokemonSalvajeService.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="js/controllers/LibrosController.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="js/controllers/BotoneraController.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/controllers/PokeparadaController.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/controllers/OponenteController.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/controllers/PokemonSalvajeController.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    
</body>

</html>